* {
    font-family: "Montserrat";
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: Agutina;
    src: url(./Assets/Fonts/Agutina\ 400.otf);
}
.coder {
    width: 550px;
    object-fit: contain;
}
.banner2 .fa-brands:hover {
    color: lightskyblue;
}
.heading {
    font-size: 50px;
}
.range {
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 6px;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
}
.ranger {
    background: #f3efef;
    border-radius: 25px;
    height: 20px;
    position: relative;
    width: 100%;
}
.range1 {
    width: 80%;
}
.range2 {
    width: 20%;
}
.range3 {
    width: 50%;
}
.education {
    width: 100px;
    height: 100px;
}
.experience {
    width: 6.5rem;
    height: 6.5rem;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
    cursor: pointer;
}
.dp {
    width: 230px;
    height: 220px;
    border-radius: 100%;
    border: 2px solid red;
}
.up {
    width: 50px;
    height: 60px;
    background-color: red;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.fa-hand-point-up {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.banner9 {
    margin-top: 7rem;
}
.btn {
    background-color: red;
    border: red;
    margin-left: 4.5rem;
}
.btn:hover {
    background-color: #dddddd;
    color: black;
}
.card-img-top {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}